<!DOCTYPE html>
<html lang="en">
    <%- include ("./partials/head.ejs")%>
    <body>
        <%- include ("./partials/nav.ejs")%>
        <div class="container">
            <hr>
            <div class="card">
                <div class="card-header">
                    <h2>1ª Semana - Estudo dos Astros</h2>
                </div>
                <div class="card-body">
                    <p>
                        Bem-vindo ao Projeto de Divulgação de Astronomia, uma iniciativa apaixonante que tem como objetivo aproximar as pessoas do fascinante mundo do cosmos. Durante três emocionantes semanas, exploraremos os mistérios do universo, começando com a primeira semana dedicada ao "Estudo dos Astros".
                    </p>
                    <h3>Descobrindo o Cosmos</h3>
                    <p>Na primeira semana, mergulharemos profundamente no estudo dos astros que povoam o céu noturno. Vamos explorar uma variedade de fenômenos celestes, incluindo planetas, estrelas, meteoros e muito mais. Prepare-se para uma jornada emocionante através do universo!</p>
                    <h3>Programação:</h3><br>
                    <strong>Dia 1: O Universo ao Nosso Redor</strong>
                    <ul>
                        <li>Palestra: Uma Introdução ao Cosmos</li>
                        <li>Observação de estrelas e planetas com telescópios</li>
                        <li>Quiz: Teste seus conhecimentos astronômicos</li>
                    </ul><br>
                    <strong>Dia 2: Planetas do Sistema Solar</strong>
                    <ul>
                        <li>Apresentação: Os Mistérios de Marte, Júpiter e outros planetas</li>
                        <li>Oficina: Construção de modelos planetários</li>
                        <li>Observação de planetas à noite</li>
                    </ul><br>
                    <strong>Dia 3: As Estrelas e seus Segredos</strong>
                    <ul>
                        <li>Palestra: O Ciclo de Vida das Estrelas</li>
                        <li>Atividade: Identificando constelações</li>
                        <li>Observação de estrelas e nebulosas</li>
                    </ul><br>
                    <strong>Dia 4: Meteoros e Asteroides</strong>
                    <ul>
                        <li>Apresentação: Os Visitantes do Espaço</li>
                        <li>Simulação: Impacto de asteroides</li>
                        <li>Oficina: Criação de um modelo de cratera</li>
                    </ul><br>
                    <strong>Dia 5: Galáxias Distantes</strong>
                    <ul>
                        <li>Palestra: Viagem através do Tempo e do Espaço</li>
                        <li>Observação de galáxias com telescópios</li>
                        <li>Conclusão da semana com uma noite de observação estelar</li>
                    </ul>
                </div>
            </div><hr>
        </div>
    </body>
</html>