<!DOCTYPE html>
<html lang="en">
    <%- include ("./partials/head.ejs")%>
    <body>
        <%- include ("./partials/nav.ejs")%>
        <div class="container">
            <hr>
            <div class="card">
                <div class="card-header">
                    <h2>3ª Semana - Foguetes de Garrafas Pets</h2>
                </div>
                <div class="card-body">
                    <p>
                        Na terceira semana do nosso emocionante Projeto de Divulgação de Astronomia, iremos literalmente decolar em direção às estrelas! Aprendendo a construir e lançar foguetes feitos de garrafas PET, os participantes terão a oportunidade de experimentar a emocionante jornada de um lançamento áereo. 
                    </p>
                    <h3>O Espírito da Exploração</h3>
                    <p>Nosso objetivo nesta semana é inspirar a paixão pela ciência e pela exploração espacial, mostrando que a astronomia não se limita a observar o céu noturno, mas também envolve a compreensão de como chegamos lá.</p>
                    <h3>Programação</h3>
                    <strong>Dia 1: Princípios Básicos da Propulsão</strong>
                    <ul>
                        <li>Palestra: O que faz um foguete voar?</li>
                        <li>Oficina: Montagem de foguetes de água simples</li>
                        <li>Teste de lançamento de foguetes</li>
                    </ul><br>
                    <strong>Dia 2: Design e Construção de Foguetes</strong>
                    <ul>
                        <li>Apresentação: Modelagem e projeto de foguetes</li>
                        <li>Oficina: Construção de foguetes a partir de garrafas PET</li>
                        <li>Teste de estabilidade dos foguetes</li>
                    </ul><br>
                    <strong>Dia 3: Preparação para o Lançamento</strong>
                    <ul>
                        <li>Palestra: Preparação para o lançamento e segurança</li>
                        <li>Prática: Abastecimento dos foguetes</li>
                        <li>Simulação de lançamento</li>
                    </ul><br>
                    <strong>Dia 4: Dia do Lançamento</strong>
                    <ul>
                        <li>Preparação final dos foguetes</li>
                        <li>Lançamento de foguetes construídos pelos participantes</li>
                        <li>Observação da trajetória dos foguetes</li>
                    </ul><br>
                    <strong>Dia 5: Recapitulação e Celebração</strong>
                    <ul>
                        <li>Discussão sobre os lançamentos</li>
                        <li>Prêmios para os melhores lançamentos</li>
                        <li>Reflexão sobre a semana e como a exploração espacial se relaciona com a astronomia</li>
                    </ul><br>
                </div>
            </div><hr>
        </div>
    </body>
</html>