<!DOCTYPE html>
<html lang="en">
    <%- include ("./partials/head.ejs")%>
    <body>
        <%- include ("./partials/nav.ejs")%>
        <div class="container">
            <hr>
            <div class="card">
                <div class="card-header">
                    <h2>2ª Semana - Projeto IASC</h2>
                </div>
                <div class="card-body">
                    <p>
                        Na primeira semana iremos apresentar aos alunos inscritos a International Astronomical Search Collaboration (IASC) que é um programa de ciência cidadã que fornece dados astronômicos de alta qualidade para cientistas cidadãos em todo o mundo. 
                        Esses cidadãos cientistas são capazes de fazer descobertas astronômicas originais e participar de atividades astronômicas práticas. 
                        Este serviço é fornecido gratuitamente! As campanhas de busca de asteróides são o foco principal do IASC. Uma “campanha” é um evento de um mês em que equipes procuram asteróides. 
                    </p><br>
                    <h3>O que iremos ver durante a semana?</h3>
                    <p>Os alunos inscritos irão aprender a se cadastrar e participar das campanhas do IASC, Também irão aprender a usar o software "Astrométrica"</p><br>
                    <h3>O que é o Astrométrica?:</h3>
                    <p>É um software que oferece a capacidade de comparar facilmente imagens astroméricas para fins de detecção de objetos em movimento. Veja os links abaixo para software, guias de instalação, instruções e conjuntos de imagens práticas.</p>
                    <strong>Exemplo:</strong><br>
                    <img src="img/astro.gif" alt="astrometrica">
                </div>
            </div><hr>
        </div>
    </body>
</html>