<!DOCTYPE html>
<html lang="en">
    <%- include ("./partials/head.ejs")%>
    <body>
        <%- include ("./partials/nav.ejs")%>
        <div class="container">
            <hr>
            <div class="card">
                <div class="card-header">
                    <h2>Sobre Nós:</h2>
                </div>
                <div class="card-body">
                    <h3>Quem Somos</h3>
                    <p>Somos um grupo apaixonado pela astronomia e pela exploração do universo. Acreditamos que o conhecimento sobre o cosmos é uma janela para o nosso próprio entendimento e para o nosso lugar no vasto universo. É com essa paixão que apresentamos o Projeto de Divulgação de Astronomia.</p><br>
                    <h3>Nossa Missão</h3>
                    <p>Nossa missão é inspirar e educar pessoas de todas as idades sobre os mistérios e maravilhas do espaço sideral. Através de atividades interativas, palestras, workshops e experiências práticas, buscamos compartilhar o fascinante mundo da astronomia com a comunidade local e além.</p><br>
                    <h3>O IFCE Maracanaú: Nosso Lar</h3>
                    <p>Nosso projeto tem a honra de acontecer no Instituto Federal de Educação, Ciência e Tecnologia do Ceará - Campus Maracanaú (IFCE Maracanaú). Localizado em um ambiente propício para a exploração do céu noturno, o IFCE Maracanaú oferece o cenário perfeito para nossas atividades práticas de observação estelar e lançamento de foguetes.</p><br>
                    <h3>Junte-se a Nós</h3>
                    <p>Convidamos você a se juntar a nós em nossa jornada pelo cosmos. Seja um entusiasta da astronomia ou alguém que simplesmente deseja aprender mais sobre o espaço, há um lugar para você em nosso projeto. Explore o universo conosco e compartilhe a emoção da descoberta enquanto mergulhamos nas maravilhas do espaço sideral.</p>
                    <a href="/inscricao" class="btn btn-primary">Inscreva-se</a>
                </div>
            </div><hr>
        </div>
    </body>
</html>